[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=PySide app
Exec=invoker --single-instance --type=e /usr/bin/Act-On-Place
Icon=/usr/share/icons/hicolor/64x64/apps/Act-On-Place.png
Categories=Development;
